.text-justify {
  text-align: justify;
}

.jumbotron-background-color {
  background-color: #f1f3ff;
  color: black;
}

.bg-blue {
  background-color: rgb(0, 0, 213);
}

.a-footer {
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: auto;
}
